<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restBoard">

    <select id="findAll" resultType="com.example.ioc.vo.RestBoard">
        SELECT * FROM board ORDER BY id DESC
    </select>

    <insert id="save" parameterType="com.example.ioc.vo.RestBoard">
        INSERT INTO board (title, content)
        VALUES (#{title}, #{content})
    </insert>

</mapper>
